<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="<%= secret_codes_path %>">Secret Codes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="<%= root_path %>">Home</a>
  </li>
  <% unless signed_in? %>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_user_session_path %>">Sign In</a>
    </li>
  <% else %>
    <li class="nav-item">
      <a class="nav-link" href="<%= destroy_user_session_path %>">Sign Out</a>
    </li>
  <% end %>
</ul>